#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            display-name = "Homerow Mods";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            require-prior-idle-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <1 14>;
        };

        tilde {
            bindings = <&kp GRAVE>;
            key-positions = <1 2>;
        };

        semi {
            bindings = <&kp SEMICOLON>;
            key-positions = <17 18>;
        };

        apost {
            bindings = <&kp APOS>;
            key-positions = <17 19>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q           &kp W            &kp E        &kp R             &kp T  &kp Y        &kp U              &kp I                &kp O            &kp P                &kp BACKSPACE
&hm LEFT_ALT A  &hm LEFT_META S  &hm LCTRL D  &hm LEFT_SHIFT F  &kp G  &kp H        &hm RIGHT_SHIFT J  &hm RIGHT_CONTROL K  &hm RIGHT_GUI L  &hm RIGHT_ALT ENTER
&kp Z           &kp X            &kp C        &kp V             &kp B  &kp N        &kp M              &kp COMMA            &kp PERIOD       &kp SLASH
&kp N0          &mo 3            &lt 3 CAPS   &lt 1 SPACE              &lt 2 SPACE                     &to 4                &mo 4            &kp N0
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp HOME  &kp PG_UP      &kp END  &trans            &trans             &kp N7        &kp N8        &kp N9        &kp N0                &kp DEL
&trans  &trans    &kp PAGE_DOWN  &trans   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp NON_US_BACKSLASH
&trans  &trans    &trans         &trans   &trans            &kp NUMBER_1       &kp NUMBER_2  &kp NUMBER_3  &kp MINUS     &kp EQUAL
&trans  &trans    &trans         &trans                     &trans                           &trans        &trans        &trans
            >;
        };

        layer_2 {
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans          &trans          &trans        &trans           &trans  &studio_unlock
&trans       &trans  &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans       &trans  &trans  &trans  &trans  &trans          &trans          &trans        &trans           &yifan
&trans       &trans  &trans  &trans          &trans                          &trans        &trans           &trans
            >;
        };

        layer_3 {
            bindings = <
&bt BT_PRV    &bt BT_NXT    &trans        &trans        &trans  &trans          &trans          &trans        &trans           &trans  &bt BT_CLR
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans        &trans        &trans        &trans        &trans  &trans          &trans          &trans        &trans           &trans
&trans        &trans        &trans        &trans                &trans                          &trans        &trans           &trans
            >;
        };

        layer_5 {
            bindings = <
&kp TAB           &kp Q  &kp W         &kp E      &kp R  &kp NUMBER_1  &kp U              &kp I                &kp O            &kp P      &kp BACKSPACE
&kp LEFT_CONTROL  &kp A  &kp S         &kp D      &kp F  &kp NUMBER_2  &hm RIGHT_SHIFT J  &hm RIGHT_CONTROL K  &hm RIGHT_GUI L  &kp ENTER
&kp LEFT_SHIFT    &kp Z  &kp X         &kp C      &kp V  &kp NUMBER_3  &kp M              &kp COMMA            &kp PERIOD       &kp SLASH
&kp N0            &mo 3  &kp LEFT_ALT  &kp SPACE         &kp SPACE                        &to 0                &mo 0            &kp N0
            >;
        };
    };
};
